{% extends 'Admin/base.html' %}

{% block page_title %} Add Nurse{% endblock page_title %}

{% load static %}
{% block content %}


<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-11">
              <!-- general form elements -->
              <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Add Nurse</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form role="form" action="/save_nurse" method="POST">
                    {% csrf_token %}
                  <div class="card-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Email</label>
                      <input 
                      type="email" 
                      class="form-control"
                      id="email"
                      placeholder="Enter email"
                      name='email'
                      >
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">username</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="username" 
                        placeholder="username"
                        name='username'
                        >
                      </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Password</label>
                      <input 
                      type="password" 
                      class="form-control" 
                      id="password" 
                      placeholder="Password"
                      name='password'
                      >
                    </div>

                  
                        <div class="form-group">
                          <label for="exampleInputPassword1">First Name</label>
                          <input 
                          type="text" 
                          class="form-control" 
                          id="first_name" 
                          placeholder="First Name"
                          name='first_name'
                         
                          >
                          <div class="form-group">
                            <label for="exampleInputPassword1">Last Name</label>
                            <input 
                            type="text" 
                            class="form-control" 
                            id="last_name" 
                            placeholder="Last Name"
                            name='last_name'
                           
                            >
                      </div>
                       <label>gender</label>
                       <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Male" name='gender'>
                        <label class="form-check-label" for="Male">Male</label>
                      </div>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="Female" name="gender">
                        <label class="form-check-label" for="Female">Female</label>
                      </div>
                    


                      <div class="form-group">
                        <label >Contact Number</label>
                        <input 
                        type="text" 
                        class="form-control" 
                        id="ContactNumber" 
                        name="contact_number"
                        placeholder="Contact Number">
                      </div>


                      
                     <div class="form-group">

                      {% if messages %}
                      <div class="col-12">
                        {% for message in messages %}
                        {% if message.tags == "error" %}
                        <div class="alert alert-danger">{{message}}</div>
                        {% endif %}

                        {% if message.tags == "success" %}
                        <div class="alert alert-success">{{message}}</div>
                        {% endif %}
                        {% endfor %}
                      </div>
                      {% endif %}

                    </div>
                   
                     
                    
                  
                 
  
                  <div class="card-footer md-6">
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                  </div>
                </form>
              </div>
            
  
            </div>
            
          </div>
   
        </div>

  </section>


{% endblock %}